body{
    text-align: center;
    font-family: Helvetica Neue,Arial,sans-serif;
}

.bar{
    font-size: large;
    height: 40px;
    width: 400px;
    border-radius: 20px;
}

.box{
    font-size: large;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

div{
    text-align: right;
    padding: 10px;
}

a{
    font-size: medium;
    margin: 5px;
}

label{
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

div > form{
    text-align: left;
}

#abox{
    color: white;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    width: 150px;   
    height: 50px;
}